<div>
    <h2>Chat with a friendly, unbiased bot. </h3>
</div>
<div class="chatbox">
    <div class="chatlogs">
        <div class="chat bot">
            <div class="avatar"></div>
            <p class="chat-message">TEST</p>
        </div>
        <div class="chat user">
            <div class="avatar"></div>
            <p class="chat-message">TEST</p>
        </div>
    </div>
    <div class="chat-form">
        <textarea></textarea>
        <button>Send</button>

    </div>
</div>

<script>

</script>