<h3>Login or Register to start a convo</h3>

<div id="slideshow">
    <div class="slide-wrapper">
      <div class="slide"><h1 class="slide-number">Practice Asking for a Raise</h1></div>
      <div class="slide"><h1 class="slide-number">Practice Saying No</h1></div>
      <div class="slide"><h1 class="slide-number">Call out Your Racist Relative</h1></div>
      <div class="slide"><h1 class="slide-number">Talk though a breakup</h1></div>
    </div>
  </div>