<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Tenor+Sans&display=swap" rel="stylesheet">
    <title>Auth Boilerplate</title>
</head>
<body>
    <header>
        <nav>
            <% if (currentUser) { %>
                <a class="nav" href="/auth/logout">Logout</a>
                <a href="/profile">Profile</a>

           <% } else { %>
               <a class="nav" href="/auth/register">Register</a>
               <a href="/auth/login">Login</a>
           <% } %>
        </nav>
    </header>
    <div class="container">
        <h1>Real Talk</h1>
        <%- include('./partials/alerts') %>
        <%- body %>
    </div>
</body>
</html>