<h4 class="welcome-user">Hi <%= currentUser.name %>. Welcome back.</h4>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="/chat"><h3>Start Chat Now</h3></a>
            <img src="../img/chat.jpg" style="width:50%" class="rounded">
        </div>
        <div class="col-md-4"><a href="/entries">
                <h3>View Your Entries</h3>
            </a></div>
        <div class="col-md-4"><a href="/entries/new">
                <h3>Start a New Entry</h3>
            </a></div>
    </div>
</div>