<h2>Hi <%= currentUser.name %>. Welcome to Real Talk </h2>


<h3>Start Chat Now</h3>
<a href=""></a>

<h3>View Your Entries</h3>
<a href=""></a>

<h3>Start a New Entry</h3>
<a href="newEntry.ejs"></a>
