<h2>Hi <%= currentUser.name %>. Welcome back.</h2>
<h6 class="welcome-user">What would you like to do today?</h6>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="/chat"><h3>Start a Chat</h3></a>
            <img src="../img/chat.jpg" style="width:50%" class="rounded">
        </div>
        <div class="col-md-6"><a href="/entries/new">
                <h3>Start a New Entry</h3>
                <img src="../img/journal.jpg" style="width:50%" class="rounded">
            </a></div>
    </div>
</div>