<h2>Hi <%= currentUser.name %>. Welcome to Real Talk </h2>

<div>
<h3>Start Chat Now</h3>
<a href=""></a>
</div>

<div>
<h3>View Your Entries</h3>
<a href=""></a>
</div>

<div>

<a href="/entries/new"><h3>Start a New Entry</h3></a>
</div>