h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 75px;
    text-align: left;
}
h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

h2:before,
h2:after {
    content: '';
    border-top: 2px solid black;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

h2:after {
    margin: 0 0 0 20px;
}
.nav {
    font-family: 'Roboto', sans-serif;
    text-align: right;
}
.container {
    padding-top: 50px;
}
.entry-container {
    background-color: rgb(104, 226, 200);
}
.welcome-user {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #dfe1e5;
}
.form-group {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#journal{
    width: 100%;
    resize: none;
}
body {
    font-family: Helvetica, sans-serif;
    padding: 5%;
    text-align: center;
  }
.carousel {
    background-color: black;
    margin-top: 20px;

}
.carousel-item {
    text-align: center;
    max-height: 580px;
}
.chatbox {
    width: 700px;
    min-width: 390px;
    height: 650px;
    background: -webkit-linear-gradient(to right, #6eb7bb, #b4e1e3, #c6b8be);
    background: linear-gradient(to right, #6eb7bb, #b4e1e3, #c6b8be);
    padding: 25px;
    margin: 20px auto;
    box-shadow: 0 3px #ccc;
    border-radius: 2%;
}
.chatlogs {
    padding: 20px;
    width: 100%;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.chatlogs.chatlogs:: -webkit-scrollbar {
    width: 10px;
}
.chatlogs:: -webkit-scrollbar-thumb {
   border-radius: 5px; 
   background: rgba(0,0,0,.1);

}
.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}
.chat .avatar {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    border: solid 2px white;

}
.chat .chat-message {
    width: 80%;
    padding: 15px;
    margin: 5px 20px 5px;
    background-color: rgba(0,0,0,0.3) !important;
    border-radius: 10px;
    font-size: 20px !important;
    color: white
}
.user .chat-message {
    order: -1;
}
.chat-form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;

}
.chat-form textarea {
    background: #dfe1e5;
    width: 75%;
    height: 100px;
    border: 2px solid #eee ;
    border-radius: 3px;
    resize: none;
    font-size: 18px;
    padding: 10px;
    margin-left: 25px;

}
.chat-form textarea:focus {
    background: #fff;
}
.chat-form button {
    padding: 5px  15px;
    font-size: 20px;
    margin: 25px 25px;
    border: solid 2px white;
    border-radius: 5px;

}
