<h2>Your Entries</h2>

<div class="entry-container">
    <h4>How you're feeling about the conversation:</h4><p><%= feeling %></p>
    <h4>What you wrote:</h4> <p><%= content %></p>
    
    <h4>Based on what you wrote, it sounds like this topic is:</h4>
    <%= response.result.type %> with a rating of <%= response.result.polarity %>
</div>
