<form action="/entries" method="POST">
    <label for="assmt">How are you feeling about the conversation?</label>

    <label for="feelings">Select a feeling</label>
    <select id="feelings" name="feelings">
        <option value="enraged">enraged</option>
        <option value="panicked">panicked</option>
        <option value="stressed">stressed</option>
        <option value="jittery">jittery</option>
        <option value="frustrated">frustrated</option>
        <option value="tense">tense</option>
        <option value="frightened">frightened</option>
        <option value="angry">angry</option>
        <option value="anxious">anxious</option>
        <option value="apprehensive">apprehensive</option>
        <option value="worried">worried</option>
        <option value="irritaed">irritaed</option>
        <option value="annoyed">annoyed</option>
        <option value="troubled">troubled</option>
        <option value="concerned">concerned</option>
        <option value="uneasy">uneasy</option>
        <option value="down">down</option>
        <option value="apathetic">apathetic</option>
        <option value="pessimistic">pessimistic</option>
        <option value="discouraged">discouraged</option>
        <option value="sad">sad</option>
        <option value="disheartened">disheartened</option>
        <option value="fatigued">fatigued</option>
        <option value="hopeless">hopeless</option>
        <option value="drained">drained</option>
    </select>
    <label for="entry">Write it out:</label>
    <textarea name="entry" style="width:500px; height:300px">
    </textarea>
    <input type="submit">
</form>
