<form class="form-group" action="/entries" method="POST">
    <h2 class="heading">Journaling is good for the mind. Write like no one is watching.</h2>
    
    <div class="form-group">
        <label for="feelings">How are you feeling? Select a feeling:</label>
        <select id="feelings" name="feeling" class="form-control">
            <option selected></option>
            <option value="enraged">Enraged</option>
            <option value="panicked">Panicked</option>
            <option value="stressed">Stressed</option>
            <option value="jittery">Jittery</option>
            <option value="frustrated">Frustrated</option>
            <option value="tense">Tense</option>
            <option value="frightened">Frightened</option>
            <option value="angry">Angry</option>
            <option value="anxious">Anxious</option>
            <option value="apprehensive">Apprehensive</option>
            <option value="worried">Worried</option>
            <option value="irritaed">Irritaed</option>
            <option value="annoyed">Annoyed</option>
            <option value="troubled">Troubled</option>
            <option value="concerned">Concerned</option>
            <option value="uneasy">Uneasy</option>
            <option value="down">Down</option>
            <option value="apathetic">Apathetic</option>
            <option value="pessimistic">Pessimistic</option>
            <option value="discouraged">Discouraged</option>
            <option value="sad">Sad</option>
            <option value="disheartened">Disheartened</option>
            <option value="fatigued">Fatigued</option>
            <option value="hopeless">Hopeless</option>
            <option value="drained">Drained</option>
        </select>
    </div>
    <div class="form-group">
        <label for="entry">Write it out:</label>
        <textarea name="content" style="height:300px" class="form-control" id="journal">
        </textarea>
    </div>
    <input type="submit" class="btn btn-success">
</form>
